* {
    box-sizing: border-box;
}

body {
    margin: 50px auto;
    max-width: 1200px;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.card::after {
    content: '';
    border: 1px solid #929292;
    width: 500px;
    margin-top: 70px;
    margin-left: 336px;
}

.card-header {
    flex: 1 1 100%;
}

.card-content {
    flex: 1 1 50%;
}

.card-header-title {
    font-size: 68px;
    margin-bottom: 15px;
    font-family: Georgia, serif;
}

.card-header-desc {
    color: #768286;
    font-size: 23px;
}

.card-button-wrapper {
    position: relative;
    flex: 1 1 50%;
}

.card-button {
    background: #03A87C;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 15px 80px;
    position: absolute;
    left: 121px;
    top: 207px;
}

.card-content-desc {
    color: grey;
    font-size: 20px;
    line-height: 1.5;
}

.card-content-desc span {
    background: #CEFDE9;
}