@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.50);
}

.viewport.mountains img {
  height: 450px;
}

.viewport {
  position: relative;
  height: 500px;
}

.viewport.lake {
  background-image: linear-gradient(to right, #0c2a62, #005da3, #0091ba, #00c197, #12eb41);
}

.viewport.mountains {
  background-image: linear-gradient(to right, #9b2a79, #c53363, #dc5148, #e0792c, #d3a216);
}

.card {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

i {
  color: white;
  position: absolute;
  right: 10px;
  bottom: 14px;
}