html {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2 {
  font-family: Great Vibes, cursive;
  line-height: 1.2;
  font-weight: bold;
}

#square {
  list-style-type: square;
}

#disc {
  list-style-type: disc;
}

#circle {
  list-style-type: circle;
}

section {
  margin: 40px;
}
