.page {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 1 1 65%;
}

aside {
    margin-left: 50px;
    flex: 1 1 25%;
}

.first-section-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.second-paragraph-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.second-paragraph-wrapper p {
    align-self: center;
    flex: 1 1 40%;
}

.trird-paragraph-wrapper,
.trird-content-wrapper {
    display: flex;
}